body{
font-family: "Liberation Serif", serif;
background-color: #1a1b1b;
color: #c5c6c6
}

img{
border: solid;
border-color: gray;
border-width: 2px;
width: 70%;
display: block;
margin: 16px auto;
}

footer{
margin-top: 16px;
}

hr{
border: none;
height: 1px;
background-color: #c5c6c6;
}

ol{
padding: 0em 0em 0em 16px;
}

.home{
width: 640px;
margin: 16px auto;
text-align: center;
border: solid;
border-width: 3px;
padding: 0em 16px;
}

.navbar{
display: flex;
width: 686px;
margin: 0px auto;
background-color: dimgray;
}

.navbar button:hover{
background-color: gray;
}
.navbar button:active{
background-color: gray;
}

.navbar button{
display:inline-block;
transition-duration: 0.4s;
overflow: hidden;
font-family: inherit;
font-size: inherit;
border: none;
color: black;
background-color: dimgray;
margin: 0px 0px;
}

.main-text{
width: 640px;
margin: 16px auto;
text-align: center;
border: solid;
border-width: 3px;
padding: 0em 20px;
}

.main-text p:first-of-type:first-letter{
float: left;
font-size: 80px;
padding: 8px;
}
  
.main-text p:first-of-type{
text-indent: 0px;
}

.main-text p:last-child{
margin-bottom: 16px;
}

.main-text p{
margin: 0px auto;
text-indent: 48px;
text-align: justify;
}

.main-text a:link{ 
text-decoration: none; 
color: dodgerblue;
}

.main-text a:hover{ 
text-decoration: underline; 
}

.main-text a:visited{
text-decoration: none;
color: lightcoral;
}

.subtitle{
margin-bottom: 16px;
font-style: italic;
}

.footnotes{
text-align: justify;
font-size: small;
margin-bottom: 16px;
}

.ascii-art{
padding: 2px 0px;
border: solid;
border-color: gray;
border-width: 2px;
margin:16px auto;
display: inline-block;
line-height: 1;
white-space: pre;
}

.emoji{
font-family: emoji;
}

@media (max-width:786px) {
	.home{
		width: auto;
	}
	.main-text{
		width: auto;
	}
	.ascii-art{
		font-size: 2vw;
	}
	.navbar{
		width: auto;
	}
}
