body{
font-family: "Liberation Serif", serif;
background-color: #1a1b1b;
color: #c5c6c6
}

img{
border: solid;
border-color: gray;
border-width: 2px;
width: 70%;
display: block;
margin: 1em auto;
}

footer{
margin-top: 1em;
}

hr{
border: none;
height: 1px;
background-color: #c5c6c6;
}

ol{
padding: 0em 0em 0em 1em;
}

.navbar{
width: 686px;
margin: 0em auto;
background-color: dimgray;
}

.navbar button:hover{
background-color: gray;
}
.navbar button:active{
background-color: gray;
}

.navbar button{
display:inline-block;
transition-duration: 0.4s;
overflow: hidden;
font-family: inherit;
font-size: inherit;
border: none;
color: black;
background-color: dimgray;
margin: 0em 0 em;
width: 50px;
}

.main-text{
width: 640px;
margin: 1em auto;
text-align: center;
border: solid;
border-width: 3px;
padding: 0em 20px;
}

.main-text p:first-of-type:first-letter{
float: left;
font-size: 5em;
padding: 0.1em;
}
  
.main-text p:first-of-type{
text-indent: 0em;
}

.main-text p:last-child{
margin-bottom: 1em;
}

.main-text p{
margin: 0em auto;
text-indent: 3em;
text-align: justify;
}

.main-text a:link{ 
text-decoration: none; 
color: dodgerblue;
}

.main-text a:hover{ 
text-decoration: underline; 
}

.main-text a:visited{
text-decoration: none;
color: lightcoral;
}

.subtitle{
margin-bottom: 1em;
font-style: italic;
}

.footnotes{
text-align: justify;
font-size: small;
margin-bottom: 1em;
}

.ascii-art{
padding: 0.1em 0em;
border: solid;
border-color: gray;
border-width: 2px;
margin:1em auto;
display: inline-block;
line-height: 1;
white-space: pre;
}

.ascii-table{
font-family: "Liberation Mono", monospace;
margin:1em auto;
display: inline-block;
white-space: pre;
}

.emoji{
font-family: emoji;
}

@media (max-width:786px) {
	.main-text{
		width: auto;
	}
	.navbar{
		width: auto;
	}
	.navbar button{
		width: auto;
	}

	.ascii-table{
		font-size: small;
	}
}

@media (max-width:320px) {
	.ascii-art{
		font-size: xx-small;
	}
}
